<template name="bestSellers">
<div id="bestSellers" >
	<div class="col-md-3 nopadding fullheight"></div>
	<div class="col-md-6 nopadding" >
<div id="bestTitle" class="vertAlign">
		<div class="col-md-5 nopadding separadors" >
		<span class="line"></span>
			</div>
		<div class="col-md-2 nopadding">
		<p class="titols">BEST SELLERS</p>
		</div>
		<div class="col-md-5 nopadding separadors">
		<span class="line"></span>
		</div>

	</div>
		<div class="col-md-3 nopadding "><div class="pictureContainer"> <img src="images/shop-1-image-1a-626x798.jpg"/></div></div>
		<div class="col-md-3 nopadding "><div class="pictureContainer"> <img src="images/shop-1-image-1a-626x798.jpg"/></div></div>
		<div class="col-md-3 nopadding "><div class="pictureContainer"> <img src="images/shop-1-image-1a-626x798.jpg"/></div></div>
		<div class="col-md-3 nopadding "><div class="pictureContainer"> <img src="images/shop-1-image-1a-626x798.jpg"/></div></div>

		<div class="col-md-3 nopadding "><div class="pictureContainer"> <img src="images/shop-1-image-1a-626x798.jpg"/></div></div>
		<div class="col-md-3 nopadding "><div class="pictureContainer"> <img src="images/shop-1-image-1a-626x798.jpg"/></div></div>
		<div class="col-md-3 nopadding "><div class="pictureContainer"> <img src="images/shop-1-image-1a-626x798.jpg"/></div></div>
		<div class="col-md-3 nopadding "><div class="pictureContainer"> <img src="images/shop-1-image-1a-626x798.jpg"/></div></div>


	</div>
<div class="col-md-3 nopadding fullheight" ></div>


</div>
</template>
