<template name="bestSellers ">
<div class="bestSellers  clear" >
	<div class="col-md-3 nopadding fullheight"></div>
	<div class="col-md-6 nopadding" >
<div class="bestTitle vertAlign">
		<div class="col-md-5 nopadding separadors" >
		<span class="line"></span>
			</div>
		<div class="col-md-2 nopadding">
		<p class="titols">BEST SELLERS</p>
		</div>
		<div class="col-md-5 nopadding separadors">
		<span class="line"></span>
		</div>

	</div>
		<div class="col-md-3 nopadding "><div class="pictureContainer"> <img src="images/shop-1-image-1a-626x798.jpg"/><div class="price-box"><h1 class="names">LONG PLATED JACKET</h1><p class="price">
		54 €</p></div></div></div>
		<div class="col-md-3 nopadding "><div class="pictureContainer"> <img src="images/shop-1-image-1a-626x798.jpg"/><div class="price-box"><h1 class="names">LONG PLATED JACKET</h1><p class="price">
		54 €</p></div></div></div>
		<div class="col-md-3 nopadding "><div class="pictureContainer"> <img src="images/shop-1-image-1a-626x798.jpg"/><div class="price-box"><h1 class="names">LONG PLATED JACKET</h1><p class="price">
		54 €</p></div></div></div>
		<div class="col-md-3 nopadding "><div class="pictureContainer"> <img src="images/shop-1-image-1a-626x798.jpg"/><div class="price-box"><h1 class="names">LONG PLATED JACKET</h1><p class="price">
		54 €</p></div></div></div>

		<div class="col-md-3 nopadding "><div class="pictureContainer sep-medium-bottom"> <img src="images/shop-1-image-1a-626x798.jpg"/><div class="price-box"><h1 class="names">LONG PLATED JACKET</h1><p class="price">
		54 €</p></div></div></div>
		<div class="col-md-3 nopadding "><div class="pictureContainer sep-medium-bottom"> <img src="images/shop-1-image-1a-626x798.jpg"/><div class="price-box"><h1 class="names">LONG PLATED JACKET</h1><p class="price">
		54 €</p></div></div></div>
		<div class="col-md-3 nopadding "><div class="pictureContainer sep-medium-bottom"> <img src="images/shop-1-image-1a-626x798.jpg"/><div class="price-box"><h1 class="names">LONG PLATED JACKET</h1><p class="price">
		54 €</p></div></div></div>
		<div class="col-md-3 nopadding "><div class="pictureContainer sep-medium-bottom"> <img src="images/shop-1-image-1a-626x798.jpg"/><div class="price-box"><h1 class="names">LONG PLATED JACKET</h1><p class="price">
		54 €</p></div></div></div>


	</div>
<div class="col-md-3 nopadding fullheight" ></div>


</div>
</template>
