
<template name="productesModalTemplate">
    <!-- Modal -->
    <div class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" id="modalAfegirProducte">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title" id="myModalLabel">Afegir un producte</h4>
                </div>
                <div class="modal-body">
                    {{#autoForm collection="productes" id="insertProducte" type="insert"}}
                        <fieldset>
                            {{> afQuickField name='nom'}}
                            {{> afQuickField name='unitats'}}
                            {{> afQuickField name='valoracio'}}
                            {{> afQuickField name='material'}}
                        </fieldset>
                        <button type="submit" class="btn btn-primary">Insert</button>
                    {{/autoForm}}

                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Tancar</button>
                </div>
            </div>
        </div>
    </div>
</template>