<template name="footer">
<footer>
<div id="footer">
    <div class="col-md-3">
        <h4>USEFUL INFORMATION</h4>
        <div class="menu-footer">
            <ul>
                <li class="list-menu-footer"><a href="#">CONTACT US</a></li>
                <li class="list-menu-footer"><a href="#">CONTACT US</a></li>
                <li class="list-menu-footer"><a href="#">CONTACT US</a></li>
                <li class="list-menu-footer"><a href="#">CONTACT US</a></li>

           </ul>
           </div>
    </div>
    <div class="col-md-3">
         <h4>LATEST POST</h4>
        <div class="menu-footer">
            <ul>
                <li class="list-menu-footer"><a href="#">CONTACT US</a></li>
                <li class="list-menu-footer"><a href="#">CONTACT US</a></li>
                <li class="list-menu-footer"><a href="#">CONTACT US</a></li>
                <li class="list-menu-footer"><a href="#">CONTACT US</a></li>

           </ul>
           </div>
    </div>
    <div class="col-md-3"> <h4>WHAT IS IN THE STORE</h4>
        <div class="menu-footer">
            <ul>
                <li class="list-menu-footer"><a href="#">CONTACT US</a></li>
                <li class="list-menu-footer"><a href="#">CONTACT US</a></li>
                <li class="list-menu-footer"><a href="#">CONTACT US</a></li>
                <li class="list-menu-footer"><a href="#">CONTACT US</a></li>

           </ul>
           </div></div>
    <div class="col-md-3"></div>
</div>
</footer>
</template>
